uvicorn
fastapi
pydantic
pydantic-settings
loguru
openai
pandas
tqdm
spacy
transformers
torch --index-url https://download.pytorch.org/whl/cu129
torchvision --index-url https://download.pytorch.org/whl/cu129
torchaudio
sentence-transformers
llama-index-embeddings-huggingface
hf_xet